{#- Google Scholar reads these tags to index a paper page.
    https://scholar.google.com/intl/en/scholar/inclusion.html#indexing -#}
<meta name="citation_title" content="{{ paper.plainTitle }}">
{%- for a in paper.authors | scholarAuthors %}
<meta name="citation_author" content="{{ a }}">
{%- endfor %}
<meta name="citation_publication_date" content="{{ paper.year }}">
{%- if paper.journal and paper.type != "volume" %}
<meta name="citation_journal_title" content="{{ paper.journal | plain }}">
{%- endif %}
{%- if paper.type == "volume" %}
<meta name="citation_book_title" content="{{ paper.plainTitle }}">
{%- endif %}
{%- if paper.volume %}<meta name="citation_volume" content="{{ paper.volume }}">{% endif %}
{%- if paper.issue %}<meta name="citation_issue" content="{{ paper.issue }}">{% endif %}
{%- if paper.firstpage %}<meta name="citation_firstpage" content="{{ paper.firstpage }}">{% endif %}
{%- if paper.lastpage %}<meta name="citation_lastpage" content="{{ paper.lastpage }}">{% endif %}
{%- if paper.doiBare %}<meta name="citation_doi" content="{{ paper.doiBare }}">{% endif %}
{%- if paper.pdfFile %}<meta name="citation_pdf_url" content="{{ site.url }}/files/papers/{{ paper.pdfFile | urlencode }}">{% endif %}
<meta name="citation_abstract_html_url" content="{{ site.url }}{{ paper.url_page }}">
